<ion-view view-title="Menu">
  <ion-content>
    <div class="tabs-striped tabs-color-royal">
      <ul class="tabs">
        <li ng-class="{'active' : vm.isSelected(1)}" class="tab-item">
          <span ng-click="vm.select(1)">The Menu</span>
        </li>
        <li ng-class="{'active': vm.isSelected(2)}" class="tab-item">
          <span ng-click="vm.select(2)">Appetizers</span>
        </li>
        <li ng-class="{'active': vm.isSelected(3)}" class="tab-item">
          <span ng-click="vm.select(3)">Mains</span>
        </li>
        <li ng-class="{'active' : vm.isSelected(4)}" class="tab-item">
          <span ng-click="vm.select(4)">Desserts</span>
        </li>
      </ul>
    </div>
    <ion-list>
      <ion-item ng-repeat="dish in vm.dishes | filter : {category: vm.filtText}" class="item-thumbnail-left" href="#/app/menu/{{dish.id}}">
        <img ng-src="{{vm.BASE_URL + dish.image}}" alt="">
        <h2>{{dish.name}}
          <span style="font-size: 75%">{{dish.price | currency}}</span>
          <span class="badge badge-assertive">{{dish.label}}</span>
        </h2>
        <p>{{dish.description}}</p>
        <ion-option-button class="button-assertive icon ion-plus-circled" ng-click="vm.addFavourite({{dish.id}})"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
